%section.hfeed
  - unless @entries.empty?
    = render :partial => "entries/entry", :collection => @entries
    = paginate @entries
  - else
    %p.empty
      = t "entries.empty"

:coffeescript
  jQuery(document).ready ->
    generate_map
      markers: #{raw generate_markers(@entries).to_json},
      map_id: "map"
