%section.hfeed
  - unless @entries.empty?
    = render :partial => "entries/entry", :collection => @entries
    = paginate @entries

    :javascript
      jQuery(document).ready(function () {
        generate_map({
          markers: #{raw generate_markers(@entries).to_json},
          map_id: "map"
        });
      });

  - else
    / TODO I18n
    p.empty No entries yet.
