%script#entry_template{:type => "text/x-handlebars-template"}
  %article{:class => "{{entry_classes keywords}}", :id => "entry_{{id}}"}
    %header
      %h1.entry-title {{formatted_title entry}}
    %section{:class => "entry-content {{#unless body}}empty{{/unless}}"}
      {{body}}
    %section.meta
      {{#if keywords.length}}
      %ul.keywords
        {{#each keywords}}
        %li
          %a{:href => "{{keyword_link this}}",
              :class => "tag {{sanitized_keyword this}}", :rel => "tag"}
            {{this.name}}
        .clear
      %p.signoff
        %a
          %time.updated{:datetime => "{{iso8601 created_at}}",
              :pubdate => "pubdate"}
            {{human_date created_at}}
        •
        {{#if bookmark_url}}
        %a{:href => "{{bookmark_url}}", :rel => "external"}
          = t("entries.bookmark_url")
        •
        {{/if}}
        %a.pilcrow{:href => "{{entry_link entry}}", :rel => "bookmark",
            :title => "Permanent link for this entry"}
          ⁋
