# Copy this file to config/eternal_services.yml and fill in your details.

# http://gowalla.com/api/keys
gowalla:
  api_key:
  username:
  password:

# http://dev.twitter.com/apps/
twitter:
  consumer_key:
  consumer_secret:

youtube:
  username:
