//= require style
//= depend_on _assets
//= depend_on _mixins

@import "_assets";
@import "_mixins";

body {background-image:none; padding-top:0;}

#participants {background-color:#aa5a32; left:0; position:fixed; right:0; top:0;}
#map {background:rgba(0, 0, 0, 0.3) @np_globe 50% 50% no-repeat; height:400px; width:100%;
  a {padding:0;}
}

.hfeed {
  .empty {margin-bottom:100px; margin-top:150px; opacity:0.7; text-align:center;}

  .hentry {position:relative;
    & + .hentry.kind_text .entry-title {font-size:18pt; margin:70px 0 11px 0;}

    .entry-title {font-size:0.9em;}

    &.kind_text .entry-content {font-size:1.1em; margin:2.55em 0 1px 0;}

    .keywords .tag {background-position:0% 50%; background-repeat:no-repeat; padding-left:18px;
        &.kind_bookmark {background-image:@fam_link;}
        &.kind_checkin {background-image:@fam_map;}
        &.kind_favorite {background-image:@fam_star;}
        &.kind_image {background-image:@fam_image;}
        &.kind_like {background-image:@fam_like;}
        &.kind_listen {background-image:@fam_music;}
        &.kind_status {background-image:@fam_pencil;}
        &.kind_text {background-image:@fam_text;}
        &.src_flickr {background-image:@fav_flickr;}
        &.src_gowalla {background-image:@fav_gowalla;}
        &.src_twitter {background-image:@fav_twitter;}
        &.src_youtube {background-image:@fav_youtube;}
      }
    }
  }
}
